@media screen and (max-width : 400px){
    li{
        font-size : 0.8rem;
        margin : 3px 0 3px 0;
    }
    #header>h1{
        font-size : 1rem;
        padding : 1.2rem 0 0.67rem 0;
 }
    #header>a{
        font-size : 1.3rem;
    }
    #category{
        font-size : 0.7rem;
    }
}